/*Colors*/
$bg-nav-color: rgba(0, 0, 0, 0.6);
$nav-toggler-border-color: rgba(255, 255, 255, 0.2);
$nav-link-color: white;
$nav-link-hover-color: #1ED760;

/*Body*/
$body-background-attachment: fixed;
$body-font-family: Helvetica, Arial, sans-serif;

$bg-body-config: url('../img/capa.png'),
					url('../img/ruido.png'), 
					linear-gradient(50deg, #ff4169, #7c26f8);

/*Navbar related*/
$nav-padding: 15px 0px;
$nav-separator-width: 1px;
$nav-separator-margin: 12px 10px;

/*Home*/
$home-elements-height: 100%;
$home-font-weight: 900;
$home-letter-spacing: -0.05em;
$home-mb: 50px;
$home-text-color: white;

/*#Content*/
$home-content-bg-color: white;
$home-content-padding-top: 20px;
$home-content-padding-bottom: 20px;

/*Home Albuns*/

$albuns-padding: 10px 0;
$albuns-h2-font-size: 3em;
$albuns-h3-font-size: 2em;
$albuns-font-weight: 700;
$albuns-letter-spacing: -0.04em;
$h2-h3-content-color: #7c35f8; /*Cor dos h2 e h3 na section content*/

/*#Features*/
$h2-features-color: white; /*Cor dos h2 na section features*/
$h3-features-color: #9bf0e1; /*Cor dos h3 na section features*/
$p-features-color: white; /*Cor dos paragrafos na section features*/
$features-rotate-rotation: rotate(30deg); /*Rotação da classe rotate*/
$features-rotation-padding-left: 80px;

$home-features-padding-top: $home-content-padding-top;
$home-features-padding-bottom: $home-content-padding-bottom;

/*Media queries*/
$media-sm-font-size: 3em;
$media-md-font-size: 4em;
$media-lg-font-size: 5em;
$media-xl-font-size: 6em;

/*Buttons*/
$btn-color: white;
$btn-border-radius: 500px;

/*.btn-custom*/
$btn-text-transform: uppercase;
$btn-transition: background 0.5s, color 0.5s;
$btn-padding: 10px 20px;
$btn-custom-margin-xs-sm: 10px 15px;

/*.btn-white*/
$btn-white-border: 2px solid white;
$btn-white-bg-color: white;
$btn-white-text-color: black;

/*.btn-success*/
$btn-success-bg-color: #1bbd4b;
$btn-success-text-color: white;
